<h1>Students for <%= @section.uniqueSectionCode %> </h1>

<table>
  <tr class='overall'>
    <td>Overall</td>
    <td><%= @section.average_grade %></td>
    <td>
      <div class="progressBar" data-progress="<%= @section.average_grade %>"></div>
    </td>
    <td></td>
    <td></td>
    <td>
      <span class="sparklines grades" data-values="<%= @section.average_grades.join(',') %>"></span>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <th>Average Grade</th>
    <th>Performance</th>
    <th>Performance</th>
    <th>Performance</th>
    <th>Trends</th>
  </tr>

  <% @students.each do |student| %>
      <tr class=".student-row">
        <td><%= full_name(student) %></td>
        <td><%= student.average_grade %></td>
        <td width="100%">
          <div class="progressBar" data-progress="<%= student.average_grade %>"></div>
        </td>
        <td class="average_score" width="100%">
          <span class="sparklines average_score1" data-grade="<%= student.average_grade %>" data-values="<%= "80,#{student.average_grade},100,85,60" %>"></span>
        </td>
        <td width="100%">
          <span class="sparklines average_score2" performanceColor="<%= grade_color(student.average_grade) %>" data-values="<%= "80,#{student.average_grade},100,85,60" %>"></span>
        </td>
        <td width="100%">
          <span class="sparklines grades" data-values="<%= student.grades.join(',') %>"></span>
        </td>
        <td width="100%" class="hide alert-button">
          <a href= <%= sendit_alert_path(:name => full_name(student)) %> class="btn">
            Alert Parents
          </a>
        </td>
      </tr>
  <% end %>
</table>

<br />
<%=  debug @students %>

<script type="text/javascript">
  jQuery(function(){

    $(".progressBar").each(function(){
      var progVal = $(this).data("progress");
      $(this).progressbar({
        value: progVal
      });
      if (progVal > 80){
        $(this).find(".ui-progressbar-value").addClass("highGrade");
      } else if ((progVal > 65) && (progVal <= 80) ){
        $(this).find(".ui-progressbar-value").addClass("averageGrade");
      } else if (progVal <= 65){
        $(this).find(".ui-progressbar-value").addClass("lowGrade");
        $(this).parent().parent().find(".alert-button").removeClass("hide");
      }

    });

  });
</script>
